<template>
  <div id="app">
    <todo @addItem="addItem" @deleteItem="deleteItem" @updateItem="updateItem"/>
  </div>
</template>

<script>
import todo from './components/todo.vue'

export default {
  name: 'App',
  components: {
    todo
  },
  methods: {
    addItem(item) {
      this.$store.commit('setData', item)
    },
    deleteItem(index) {
      this.$store.commit('deleteData', index)
    },
    updateItem(item, index) {
      this.$store.commit('updateData', {item, index})
    },
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
