<template>
  <div class="d-flex container align-items-center flex-column">
    <div class="input-group mb-3" style="width: 400px;" v-if="!visibleFormEdit">
      <input type="text" class="form-control" placeholder="Input item" v-model="newItem" />
      <div class="input-group-append">
        <button class="btn btn-outline-success" @click="addItem" id="button-addon2">Add</button>
      </div>
    </div>
    <div class="input-group mb-3" style="width: 400px;" v-else>
      <input type="text" class="form-control" placeholder="Input item" v-model="editItem" />
      <div class="input-group-append">
        <button class="btn btn-outline-warning" @click="updateItem" id="button-addon2">Edit</button>
      </div>
    </div>
    <div v-for="(item, index) in listData" :key="index">
      <span
        class="bg-primary text-white mt-2 d-flex align-items-center justify-content-center rounded-pill mb-2"
        style="width: 400px; height: 50px;"
      >{{ item.name }}</span>
      <button class="btn btn-outline-danger mr-3" @click="deleteItem(index)">Delete</button>
      <button class="btn btn-outline-warning" @click="showFormEdit(index)">Edit</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "todo",
  data() {
    return {
      newItem: "",
      editItem: "",
      visibleFormEdit: false,
      ItemSelected: 0,
      listData: []
    };
  },
  methods: {
    addItem() {
      if (!this.newItem) return;
      this.$emit("addItem", this.newItem);
      this.newItem = "";
    },
    deleteItem(index) {
      this.$emit("deleteItem", index);
    },
    showFormEdit(index) {
      this.visibleFormEdit = true;
      this.ItemSelected = index;
      this.editItem = this.listData[index].name;
    },
    updateItem() {
      if (!this.editItem) return;
      this.$emit("updateItem", this.editItem, this.ItemSelected);
      this.editItem = "";
      this.visibleFormEdit = false;
    },
  },
  created() {
    this.listData = this.$store.state.listData
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
